@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 p-0 box-border overflow-x-hidden font-normal bg-white;
  }
}

@layer components {
  .custom-container {
    @apply max-w-[1100px] mx-auto px-4;
  }
}

.type[data-type-changed="paket"] {
  @apply justify-start;
}

.type div[data-type-changed="hotel"] {
  @apply w-[140px];
}

.bg-cube {
  background-image: linear-gradient(#ffffff14 0.1em, transparent 0.1em),
    linear-gradient(90deg, #ffffff14 0.1em, transparent 0.1em);
  background-size: 3em 3em;
}

.ant-picker {
  @apply rounded-r-[10px] md:rounded-l-none rounded-l-[10px] hover:border-none border-none;
}

.ant-picker-input {
  @apply rounded-r-[10px] md:rounded-l-none rounded-l-[10px] py-6 px-3 !text-black bg-white outline-none transition-all duration-300 capitalize;
}

.ant-picker input {
  @apply font-normal placeholder:!opacity-100;
}

.ant-picker-clear {
  @apply !right-[12px];
}

.ant-picker-focused .ant-picker-input {
  @apply ring-2 ring-secondary;
}

.input .clear,
.input2 .clear2 {
  @apply hidden;
}

.input:hover .clear,
.input2:hover .clear2 {
  @apply block;
}

.ant-image .ant-image-mask:hover {
  @apply rounded-[14px];
}

.ymaps-2-1-79-map {
  @apply !w-full !h-full rounded-[10px];
}

.bg-notfound {
  background-image: linear-gradient(#00000005 0.1em, transparent 0.1em),
    linear-gradient(90deg, #00000005 0.1em, transparent 0.1em);
  background-size: 3em 3em;
}
